# Ignore .terraform directories
resourceCreation/.terraform/

# Other Terraform-related files to ignore
resourceCreation/*.tfstate
resourceCreation/*.tfstate.*
resourceCreation/crash.log
resourceCreation/*.tfvars
resourceCreation/*.tfvars.json
resourceCreation/override.tf
resourceCreation/override.tf.json
resourceCreation/*_override.tf
resourceCreation/*_override.tf.json
resourceCreation/*.tfplan
