# Ignore .terraform directories
create_resources/.terraform/*

# Other Terraform-related files to ignore
create_resources/*.tfstate
create_resources/*.tfstate.*
create_resources/crash.log
create_resources/*.tfvars
create_resources/*.tfvars.json
create_resources/override.tf
create_resources/override.tf.json
create_resources/*_override.tf
create_resources/*_override.tf.json
create_resources/*.tfplan
